<!DOCTYPE html>
<html lang="en">
<head>

    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers 
    <title>@ViewData["Title"]</title>
    <link id="themeStylesheet" href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" type="image/png" href="/favicon/favicon.ico">
</head>
<body>
<div class=page>
    <h1><img src="/images/icon1.png" alt="Icon1"/>Chirp!</h1>

    <div class=navigation>
        @if (User?.Identity?.IsAuthenticated == true)
        {
            <div>
                <a href="/@(User.Identity.Name)">My Timeline</a> |
                <a href="/">Public Timeline</a> |
                <a class="nav-link text-dark" href="/@(User.Identity.Name)/MyPage">My Page </a>|
                <a class="nav-link text-dark" href="/Identity/Account/Logout">Logout [@(User.Identity.Name)]</a>

            </div>
            <div asp-validation-summary="ModelOnly">
            </div>


        }
        else
        {
            <div>
                <a href="/">Public Timeline</a> |
                <a class="nav-link text-dark" href="/Identity/Account/Register">Register</a> |
                <a class="nav-link text-dark" href="/Identity/Account/Login">Login</a> |
            </div>
        }
        
        <div class="theme-switch" align="right">
            <label class="switch">
                <span class="slider"></span>
            </label>
        </div>
    </div>

    <div class=body>
        @RenderBody()
    </div>
    <div class=footer>
        Chirp &mdash; An ASP.NET Application
    </div>
</div>


<script>
    /// This code was inspired by code given from LLM suggesting to use Javascript to layout page (We could not
    /// get Model to work) and also to use local storage to remember values when switching between pages
    const slider = document.querySelector('.slider');
    const stylesheet = document.getElementById('themeStylesheet');

    function loadStyle() {
        const savedTheme = localStorage.getItem('selectedTheme');
        if (savedTheme) {
            stylesheet.setAttribute('href', savedTheme);
            slider.classList.toggle('checked', savedTheme === '/css/style2.css');
        }
    }

    slider.addEventListener('click', () => {
        const isChecked = slider.classList.toggle('checked');
        if (isChecked) {
            stylesheet.setAttribute('href', '/css/style2.css');
            localStorage.setItem('selectedTheme', '/css/style2.css');
        } else {
            stylesheet.setAttribute('href', '/css/style.css');
            localStorage.setItem('selectedTheme', '/css/style.css');
        }
    });

    document.addEventListener('DOMContentLoaded', loadStyle);
</script>

</body>
@await RenderSectionAsync("Scripts", required: false)
</html>
